{% extends 'home/header.html' %}
{% load static %}

{% block a %}
<ul>
<h2><b><p>Experiences</p></b></h2>

<div class="boxed" ><li>
    {% for a in all_posts %}
        <label><font size="7"><p1>{{ a.title }}</p1></font>
            <br>  {{a.user.get_username}}<br>{{ a.text}}<br><br>
            <img src="{{ a.image.url }}"height="200" width="200"/></label><br>
        <label>({{ a.published_time }})</label><br>
    <label>-----------------------------------------------------------------------------------------</label>
    {% endfor %}
    </li></div>
</ul>
{% endblock %}


